{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}

<form id="user-add-form" method="POST">
  {{ form.hidden_tag() }}
  {% for field in form if field.widget.input_type !=
  'hidden' %}

  <p>
    {{ field.label }} {{ field }}

    {% for error in field.errors %} {{ error }}
    {% endfor %}
  </p>

  {% endfor %}

  <button type="submit" class="btn btn-outline-dark">Register</button>
</form>

<div class="flash_messages">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  {% endwith %}
</div>

{% endblock %}
